<div class="row">
<div class="span12">      		
	   		
	<div class="widget ">
		<div class="widget-header">
			<i class="icon-th-list"></i>
 			<h3>Group list</h3>
		</div> <!-- /widget-header -->

		<div class="widget-content">
		
		<div class="alert hide" role="alert"></div>
		
		<div class="btn-toolbar">
		
			<div class="btn-group btn-batch">
				<a class="btn btn-large" href="#"><i class="icon-edit icon-white"></i> Batch operation</a>
				<a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li><a href="javascript:;" onclick="javascript:batch('delete');"><i class="icon-trash"></i> Delete</a></li>
				</ul>
			</div>
			
			<div class="btn-group">
			<a href="{{urlfor "GroupController.Add"}}" class="btn btn-large btn-info"><span class="icon-plus"></span> New group</a>
			</div>
			
		</div>

		<form id="form-list" method="post" action="">
		<table class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th width="20"><input type="checkbox" name="chkall" value="1"></td>
				<th width="40">ID</th>
				<th>Group name</th>
				<th>Description</th>
				<th width="100">Operating</th>
			</tr>
			</thead>
			<tbody>
			{{range $k, $v := .list}}
				<tr>
					<td><input type="checkbox" name="ids" value="{{$v.Id}}" /></td>
					<td class="center">{{$v.Id}}</td>
					<td>{{$v.GroupName}}</td>
					<td>{{$v.Description}}</td>
					<td>
						<a class="btn btn-info" href="{{urlfor "GroupController.Edit" "id" $v.Id}}">
							<i class="icon-pencil icon-white"></i> Edit
						</a>
										
					</td>
				</tr>
			{{end}}
			</tbody>
			<tfoot>
				<tr><td colspan="100">{{str2html .pageBar}}</td></tr>
			</tfoot>
		</table>
		</form>
		
		</div>
	</div>
</div>
</div> <!-- /row -->

<script>
$(function() {
	$("input[name='chkall']").click(function () {
		$("input[name='ids']").attr("checked", $(this).attr("checked") == "checked");
	});
});

function batch(action) {
	$(".alert").hide();
	if ($("input[name='ids']:checked").size() < 1) {
		$(".alert").text("Please select the task you want to operate");
		$(".alert").show();
	} else {
		var url = "{{urlfor "GroupController.Batch"}}";
		$.post(url + "?action=" + action, $("#form-list").serialize(), function(out) {
			if (out.status != 0) {
				$(".alert").text(out.msg);
				$(".alert").show();
			} else {
				window.location.reload();
			}
		}, "json");
	}
	return false;
}
</script>
