<div class="row">
<div class="span12">      		
	   		
	<div class="widget ">
		<div class="widget-header">
			<i class="icon-th-list"></i>
 			<h3>task list</h3>
		</div> <!-- /widget-header -->

		<div class="widget-content">
		
		<div class="alert hide" role="alert"></div>
		
		<div class="btn-toolbar">
		
			<div class="btn-group btn-batch">
				<a class="btn btn-large" href="#"><i class="icon-edit icon-white"></i> Batch operation</a>
				<a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li><a href="javascript:;" onclick="javascript:batch('active');"><i class="icon-play"></i> activation</a></li>
				<li><a href="javascript:;" onclick="javascript:batch('pause');"><i class="icon-pause"></i> time out</a></li>
				<li class="divider"></li>
				<li><a href="javascript:;" onclick="javascript:batch('delete');"><i class="icon-trash"></i> delete</a></li>
				</ul>
			</div>
			
			<div class="btn-group">
			<a href="{{urlfor "TaskController.Add"}}" class="btn btn-large btn-info"><span class="icon-plus"></span> New task</a>
			</div>
			
			<div class="btn-group  btn-large" style="float:right">
			<form method="post" name="s" action="{{urlfor "TaskController.List"}}">
				<select name="groupid" class="btn-large">
					<option value="0">groups</option>
					{{range $k, $v := .groups}}
					<option value="{{$v.Id}}" {{if eq $v.Id $.groupid}}selected{{end}}>{{$v.GroupName}}</option>
					{{end}}
				</select>
			</form>
			</div>
			
		</div>

		<form id="form-list" method="post" action="">
		<table class="table table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th width="20"><input type="checkbox" name="chkall" value="1"></td>
				<th width="40">ID</th>
				<th>name</th>
				<th>Time expression</th>
				<th class="span2">Last execution time</th>
				<th class="span2">Next execution time</th>
				<th class="span5">operating</th>
			</tr>
			</thead>
			<tbody>
			{{range $k, $v := .list}}
				<tr>
					<td><input type="checkbox" name="ids" value="{{$v.id}}" /></td>
					<td class="center">{{$v.id}}</td>
					<td>
					{{if eq $v.running 0}}
					<span class="icon-ban-circle" style="color:red"></span>
					{{else}}
					<span class="icon-play-circle" style="color:green"></span>
					{{end}}
					<span data-toggle="tooltip" data-placement="bottom" title="{{$v.description}}">
					{{$v.name}}
					</span>
					</td>
					<td>{{$v.cron_spec}}</td>
					<td>{{$v.prev_time}}</td>
					<td>{{$v.next_time}}</td>
					<td>
						{{if eq $v.status 0}}
						<a class="btn btn-danger" href="{{urlfor "TaskController.Start"}}?id={{$v.id}}">
							<span class="icon-play-circle icon-white"></span> activation
						</a>
						{{else}}
						<a class="btn btn-success" href="{{urlfor "TaskController.Pause"}}?id={{$v.id}}">
							<span class="icon-ban-circle icon-white"></span> time out
						</a>
						{{end}}
						<a class="btn btn-info" href="{{urlfor "TaskController.Edit"}}?id={{$v.id}}">
							<span class="icon-pencil icon-white"></span> edit
						</a>
						<a class="btn btn-info btn-run" href="{{urlfor "TaskController.Run"}}?id={{$v.id}}">
							<span class="icon-refresh icon-white"></span> carried out
						</a>
						<a class="btn btn-info" href="{{urlfor "TaskController.Logs"}}?id={{$v.id}}">
							<span class="icon-comments"></span> Log
                       </a>					
					</td>
				</tr>
			{{end}}
			</tbody>
			<tfoot>
				<tr><td colspan="100">{{str2html .pageBar}}</td></tr>
			</tfoot>
		</table>
		</form>
		
		</div>
	</div>
</div>
</div> <!-- /row -->

<script>
$(function() {
	$('[data-toggle="tooltip"]').tooltip()
	$("input[name='chkall']").click(function () {
		$("input[name='ids']").attr("checked", $(this).attr("checked") == "checked");
	});
	$("select[name='groupid']").change(function () {
		$("form[name='s']").submit();
	});
	$(".btn-run").click(function () {
		return confirm("This feature is recommended only for mission testing. Are you sure you want to perform this task immediately？");
	});
});

function batch(action) {
	$(".alert").hide();
	if ($("input[name='ids']:checked").size() < 1) {
		$(".alert").text("Please select the task you want to operate");
		$(".alert").show();
	} else {
		var url = "{{urlfor "TaskController.Batch"}}";
		$.post(url + "?action=" + action, $("#form-list").serialize(), function(out) {
			if (out.status != 0) {
				$(".alert").text(out.msg);
				$(".alert").show();
			} else {
				window.location.reload();
			}
		}, "json");
	}
	return false;
}
</script>
