<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>Login - {{.siteName}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">     
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />	
	<link href="/static/css/font-awesome.css" rel="stylesheet">	    
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
	<link href="/static/css/pages/signin.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>	
			<a class="brand" href="/">
				{{.siteName}}				
			</a>		
		</div> <!-- /container -->		
	</div> <!-- /navbar-inner -->	
</div> <!-- /navbar -->

<div class="account-container">
	<div class="content clearfix">	
		<form action="/login" method="post">	
			<h1>Administrator login</h1>
			<div class="login-fields">
			
				<p class="text-error">{{.flash.error}}&nbsp;</p>
				
				<div class="field">
					<label for="username">user</label>
					<input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" />
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password">password</label>
					<input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field"/>
				</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">	
				<span class="login-checkbox">
					<input id="remember" name="remember" type="checkbox" class="field login-checkbox" value="1" tabindex="4">
					<label class="choice" for="remember">remember</label>
				</span>
						
				<button class="button btn btn-success btn-large">Login</button>
			</div> <!-- .actions -->	
		</form>
	</div> <!-- /content -->
</div> <!-- /account-container -->

<script src="/static/js/jquery-1.7.2.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>
