<div class="row">
	<div class="span12">
	<div class="error-container">
		<h2>system hint</h2>
		<h2>{{.message}}</h2>
		<div class="error-actions">
			<a href="{{.redirect}}" class="btn btn-large btn-primary">
			<i class="icon-chevron-left"></i>
			&nbsp;
			Return to previous page
			</a>
		</div> <!-- /error-actions -->
	</div> <!-- /error-container -->			
	</div> <!-- /span12 -->
</div>	
	
